<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100..900&family=Roboto:wght@100..900&display=swap" rel="stylesheet">
    <title>Password Reset</title>
    <%- await include('styles.ejs') %>
</head>
<body>
    <div class="email-reset-form">
        <div class="info_text">
            <h1>GROW<br/>YOUR STARTUP!</h1>
            <span>MONITORING AND EVALUATING NOW IS EASY!</span>
            </div>
            <div class="message_section">
                <p>Reset link will be valid for 15 minutes!</p>
                <a href="mentor-tokent-frontend.vercel.app/passwordReset?resetToken=<%= token %>" target="_blank" title="Click to reset password">
                    <div class="update_password_section">
                        <p>Password Reset</p>    
                    </div>
                </a>
            </div>
        <div class="log-page-logo">
            <div class="logo-class">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M34.1434 12.0566C34.1434 11.6736 33.9357 11.3207 33.6009 11.1347L20.0227 3.59118C19.7042 3.41422 19.3169 3.41422 18.9983 3.59118L5.42008 11.1347C5.08527 11.3207 4.87762 11.6736 4.87762 12.0566V27.0742C4.87762 27.4572 5.08527 27.8101 5.42008 27.9961L18.9983 35.5396C19.3169 35.7166 19.7042 35.7166 20.0227 35.5396L33.6009 27.9961C33.9357 27.8101 34.1434 27.4572 34.1434 27.0742V12.0566ZM18.9987 7.31392C19.317 7.13726 19.704 7.13726 20.0223 7.31392L27.4577 11.4405C28.1815 11.8422 28.1814 12.8832 27.4575 13.2848L24.9354 14.6841C24.517 14.9163 23.9999 14.8304 23.6287 14.5285C22.5059 13.6155 21.0716 13.0619 19.5105 13.0619C17.9494 13.0619 16.5152 13.6155 15.3924 14.5285C15.0211 14.8304 14.504 14.9163 14.0856 14.6841L11.5635 13.2848C10.8396 12.8832 10.8395 11.8422 11.5634 11.4405L18.9987 7.31392ZM17.8846 29.4152C17.8846 30.2191 17.0212 30.7274 16.3182 30.3373L8.67222 26.0938C8.33719 25.9078 8.12938 25.5548 8.12938 25.1716V16.9034C8.12938 16.0991 8.99347 15.5909 9.69642 15.9816L12.4836 17.5311C12.9135 17.77 13.1125 18.2746 13.0535 18.7629C13.0219 19.0243 13.007 19.293 13.007 19.5654C13.007 22.3024 14.6984 24.6533 17.1049 25.6053C17.5534 25.7827 17.8846 26.1952 17.8846 26.6775V29.4152ZM16.2588 19.5654C16.2588 17.7769 17.722 16.3136 19.5105 16.3136C21.299 16.3136 22.7623 17.7769 22.7623 19.5654C22.7623 21.3539 21.299 22.8171 19.5105 22.8171C17.722 22.8171 16.2588 21.3539 16.2588 19.5654ZM22.7028 30.3373C21.9998 30.7274 21.1364 30.2191 21.1364 29.4152V26.6938C21.1364 26.2114 21.4676 25.799 21.9161 25.6216C24.3226 24.6695 26.014 22.3187 26.014 19.5817C26.014 19.3019 25.9983 19.0261 25.9649 18.7562C25.905 18.2713 26.1041 17.7719 26.5311 17.5346L29.3246 15.9816C30.0275 15.5909 30.8916 16.0991 30.8916 16.9034V25.1716C30.8916 25.5548 30.6838 25.9078 30.3488 26.0938L22.7028 30.3373Z" fill="white"/>
                </svg>
                <h2>Mentor Token</h2>
            </div>
              <p>mentortoken.com</p>
        </div>
        
    </div>
</body>
</html>